body {
    background: grey;
    font-family: sans-serif;
}
div{
    background-color: white;
    padding:20px;
    border-radius: 10px;
    margin:30px 100px;
}
button{
    cursor: pointer;
    border-radius: 30px;
    padding:10px;
    border-style: none;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}